{% extends 'base.html.twig' %}

{% block body %}
    <div ng-app="davidWeichertAdamPlay">

        <form id="play" method="post" action="{{ path('score') }}" ng-controller="playCtrl">

        <h1 ng-if="!name">Let's go!</h1>
        <h1 ng-if="name">Let's go, {{ name }}!</h1>

        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="token" value="{{ token }}">

        {% if timeLimit and showTimeLimit %}
        <p>Remaining time <span class="badge">{{ '{{ remainingTime }}' }}</span></p>
        {% endif %}

        <div class="jumbotron" ng-repeat="exercise in exercises">
            <div class="lead">
                {{ '{{ exercise.operand1 }}' }}
                {{ '{{ exercise.operator }}' }}
                {{ '{{ exercise.operand2 }}' }}
                =
                {{ '{{ exercise.result }}' }}
            </div>
            <div>
                <input type="hidden" name="{{ 'operand1-{{ exercise.number }}' }}" value="{{ '{{ exercise.operand1 }}' }}">
                <input type="hidden" name="{{ 'operand2-{{ exercise.number }}' }}" value="{{ '{{ exercise.operand2 }}' }}">
                <input type="hidden" name="{{ 'operator-{{ exercise.number }}' }}" value="{{ '{{ exercise.operator }}' }}">
                <input type="hidden" name="{{ 'result-{{ exercise.number }}' }}" value="{{ '{{ exercise.result }}' }}">
                <input type="number" name="{{ 'solution-{{ exercise.number }}' }}">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Finish</button>

        </form>

    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
    var app = angular.module('davidWeichertAdamPlay', []);
    app.controller('playCtrl', ['$scope', '$interval',
        function($scope, $interval) {
            $scope.name = "{{ name }}";
            $scope.exercises = {{ exercises | json_encode() | raw }};
            $scope.minutes = {{ minutes }};
            $scope.seconds = {{ seconds }};
            $scope.remainingTime = $scope.minutes + ":00";
            $interval(function () {
                $scope.getRemainingTime = function () {
                    if ($scope.minutes == 0 && $scope.seconds == 0) {
                        return "Time is up!"
                    } else {
                        displaySeconds = $scope.seconds;
                        if ($scope.seconds < 10) {
                            displaySeconds = "0" + $scope.seconds;
                        }
                        return $scope.minutes + ":" + displaySeconds;
                    }
                };
                $scope.remainingTime = $scope.getRemainingTime();
                if ($scope.seconds == 0 && $scope.minutes == 0) {

                } else if ($scope.seconds == 0) {
                    $scope.seconds = 59;
                    $scope.minutes--;
                } else {
                    $scope.seconds--;
                }
            }, 1000);
        }
    ]);
    </script>
{% endblock %}

